<div>
  <mat-grid-list cols="10" rowHeight="2:1">
    <div *ngFor="let num of tabella">
      <mat-grid-tile>
        <mat-card [ngStyle]="{ 'background-color': num.isLit ? 'yellow' : '' }">
          {{ num.numero }}
        </mat-card>
      </mat-grid-tile>
    </div>
  </mat-grid-list>

  <br /><br />

  <div *ngIf="!isWinner">
    <button mat-raised-button color="warn" (click)="estrai()">Estrai</button>
  </div>
  <div *ngIf="isWinner">
    <button mat-raised-button color="warn" (click)="resetGioco()">
      Rigioca
    </button>
  </div>
  <br />

  <div *ngIf="numEstratto">
    <h1>Numero Estratto: {{ numEstratto }}</h1>
  </div>
  <div>
    <h1>Numeri Da Estrarre: {{ numeriRimanenti }}</h1>
  </div>
  <div>
    <h1>Numero Partite: {{ matchCount }}</h1>
  </div>

  <br />
  <mat-grid-list cols="2" rowHeight="">
    <div *ngFor="let player of numSequence(); let i = index">
      <h3>{{ i + 1 }}. {{nomi[i]}}</h3>
      <span *ngIf="i == winner" style="color: red;">WINNER!</span>

      <app-scheda
        [numEstratto]="numEstratto"
        [isReset]="isReset[i]"
        [numeroGiocatore]="i"
        (isResetCompleted)="toResetScheda($event)"
        (isWinner)="checkWinner($event)"
      ></app-scheda>
      <br />
    </div>
  </mat-grid-list>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="record">
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="player">
      <mat-header-cell *matHeaderCellDef> Giocatore </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.player }} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="numPartite">
      <mat-header-cell *matHeaderCellDef> Partite Vinte </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.numPartite }} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="mosse">
      <mat-header-cell *matHeaderCellDef> Mosse </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.mosse }} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>

<div *ngFor="let el of nomiGiocatori.data | async">
  {{el}}
</div>
